<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>ThinkCourier Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <h:outputStylesheet library="css" name="styles.css" />
        <h:outputStylesheet library="css" name="bootstrap.min.css" />
        <link rel="shortcut icon" type="image/png" href="#{resource['images/favicon.png']}"/>
        <script>
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                var target = this.href.split('#');
                $('.nav a').filter('a[href="#' + target[1] + '"]').tab('show');
            })
        </script>
    </h:head>

    <h:body class="bg-light">
        <div class="navbar navbar-dark d-flex justify-content-between shadow-sm">
            <div class="container d-flex justify-content-between">
                <a class="navbar-brand d-flex align-items-center"><h:graphicImage library="images" name="logo.png" width="30" height="30" class="mr-2"/>
                    <strong> ThinkCourier</strong></a>

            </div>
        </div>
        <div class="container">
            <h:panelGroup rendered="#{empty uName}">
                <section class="jumbotron text-center mt-2">
                    <h2 class="jumbotron-heading">A Promising Courier Management System</h2>        
                    <div class="panel-subheader">Welcome, user!</div>
                    <div>Register and Request a role or Login to get started.</div>
                </section>
            </h:panelGroup>
            <h:panelGroup rendered="#{not empty uName}">
                <section class="jumbotron text-center mt-2">
                    <h2 class="jumbotron-heading">A Promising Courier Management System</h2>        
                    <div class="panel-subheader">Welcome, #{uName}!</div>
                    <div>Visit your dashboard to get started.</div>
                </section>
            </h:panelGroup>
            <h:panelGroup rendered="#{empty uName}">
                <div class="welcome">
                    <nav>
                        <div class="nav nav-tabs pl-3" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#login" role="tab">Login</a>
                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#register" role="tab">Register</a>

                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="nav-home-tab">
                            <div class="container mt-3">
                                <h:form>
                                    <h:messages id="message" showSummary="true" showDetail="true" />
                                    <div class="row pl-3">
                                        <div class="col-4">Username: 
                                            <h:inputText class="form-control" id="username" value="#{appService.username}" label="username" />
                                        </div>
                                    </div>
                                    <div class="row pl-3 mt-2">
                                        <div class="col-4">Password: 
                                            <h:inputSecret class="form-control" id="pass" value="#{appService.password}" />
                                        </div>
                                    </div>
                                    <div class="row pl-4 mt-2">
                                        <h:commandButton class="m-2" id="submit" type="submit" value="Submit" action="#{appService.login}" />
                                        <h:commandButton class="m-2" type="reset" value="Reset" />
                                    </div>
                                </h:form>
                            </div>
                        </div>

                        <div class="tab-pane fade pl-3" id="register" role="tabpanel" aria-labelledby="nav-profile-tab">    
                            <div class="container mt-3">
                                <h:panelGroup rendered="#{empty uName}">
                                    <h:form>
                                        
                                        <div class="row pl-1">
                                            <div class="col-4">Username: 
                                                <h:inputText class="form-control" id="username" value="#{appService.username}" label="username" required="true" />
                                            </div>
                                        </div>
                                        <div class="row pl-1 mt-2">
                                            <div class="col-4">Password: 
                                                <h:inputSecret class="form-control" id="pass" value="#{appService.password}" required="true" />
                                            </div>
                                        </div>
                                        <div class="row pl-1 mt-2"> 
                                            <div class="col-4">
                                                Role Request:
                                                <h:selectOneListbox class="form-control" size="1" value="#{appService.userrole}" required="true">
                                                    <f:selectItem itemValue="Manager" itemLabel="Manager" />
                                                    <f:selectItem itemValue="Booking Staff" itemLabel="Booking Staff" />
                                                    <f:selectItem itemValue="Delivery Staff" itemLabel="Delivery Staff" />
                                                </h:selectOneListbox>
                                            </div>
                                        </div>
                                        <div class="row pl-2 mt-2">
                                            <h:commandButton class="m-2" id="submit" type="submit" value="Register" action="#{appService.register}" />
                                            <h:commandButton class="m-2" type="reset" value="Reset" />
                                        </div>

                                    </h:form>
                                </h:panelGroup>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </div>
        <footer class="container-fluid bg-dark mt-2 d-flex justify-content-center">
            <div class="text-muted p-4">
                2018, All rights reserved, Made with Love by Thinkpool
            </div>
        </footer>
    </h:body>
    <h:outputScript library="js" name="jquery-3.3.1.slim.min.js" />
    <h:outputScript library="js" name="bootstrap.min.js" />
</html>
