<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

    <h:head>
        <title>ThinkCourier - Manager's Dashboard</title>

        <f:metadata>
            <f:event type="preRenderView" listener="#{appService.dashboardInit}"/>
        </f:metadata>
        <h:outputStylesheet library="css" name="styles.css" />
        <h:outputStylesheet library="css" name="bootstrap.min.css" />
        <link rel="shortcut icon" type="image/png" href="#{resource['images/favicon.png']}"/>
    </h:head>
    <h:body class="bg-light">
        <div class="navbar navbar-dark d-flex justify-content-between shadow-sm">
            <div class="container d-flex justify-content-between">
                <a class="navbar-brand d-flex align-items-center"><h:graphicImage library="images" name="logo.png" width="30" height="30" class="mr-2"/><strong> ThinkCourier</strong></a>
            </div>
        </div>
        <div class="container">
            <section class="jumbotron text-center mt-2">
                <h2 class="jumbotron-heading">Manager's Dashboard</h2>        
                <div class="panel-subheader">Welcome, <h:outputText value="#{uName}" /></div>
                <h:form><h:commandLink action="#{appService.logout}" value="Logout"></h:commandLink></h:form>
            </section>

            <div class="welcome">
                <nav>
                    <div class="nav nav-tabs pl-3" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#auth-package" role="tab">Authorize Packages</a>
                        <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#auth-users" role="tab">Authorize Users</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#report" role="tab">Daily Report</a>

                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="auth-package" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="container">
                            <div class="row pl-3">
                                <h:form rendered="#{not empty appService.findUnauthPackages()}">
                                    <h:dataTable var="packs" value="#{appService.unAuthPack}" class="table table-hover">

                                        <h:column>
                                            <f:facet name="header"><h:outputText value="Customer Name" /></f:facet>
                                            <h:outputText value="#{packs.customerName}"/>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header"><h:outputText value="Address" /></f:facet>
                                            <h:outputText value="#{packs.address}"/>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header"><h:outputText value="Package Detail" /></f:facet>
                                            <h:outputText value="#{packs.packageDetail}"/>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header"><h:outputText value="Charge" /></f:facet>
                                            <h:outputText value="#{packs.charge}"/>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header"><h:outputText value="Priority" /></f:facet>
                                            <h:outputText value="#{packs.priority}"/>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header"><h:outputText value="Assign To" /></f:facet>

                                            <h:selectOneMenu value="#{appService.assignedTo}" required="true">
                                                <f:ajax />
                                                <f:selectItems value="#{appService.deliveryStaff}" var="dStaff" itemValue="#{dStaff}" />
                                            </h:selectOneMenu>
                                        </h:column>

                                        <h:column>
                                            <f:facet name="header"><h:outputText value="Approve" /></f:facet>
                                            <h:commandButton type="submit" value="Assign" action="#{appService.assignStaff(packs)}"></h:commandButton>
                                        </h:column>

                                    </h:dataTable>
                                </h:form>
                                <h:panelGroup rendered="#{empty appService.unAuthPack}">
                                    <p>Great! Nothing to Authorize :)</p>
                                </h:panelGroup>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="auth-users" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="container">
                            <div class="row pl-3">
                                <h:form rendered="#{not empty appService.unAuthUsers}">
                                    <h:dataTable var="users" value="#{appService.unAuthUsers}" class="table table-hover">
                                        <h:column>
                                            <f:facet name="header"><h:outputText value="Emp ID" /></f:facet>
                                            <h:outputText value="#{users.userId}"/>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header"><h:outputText value="Emp Name" /></f:facet>
                                            <h:outputText value="#{users.userName}"/>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header"><h:outputText value="Requested Role" /></f:facet>
                                            <h:outputText value="#{users.userRole}"/>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header"><h:outputText value="Approve" /></f:facet>
                                            <h:commandButton type="submit" value="Authorize" action="#{appService.authorizeUser(users)}"></h:commandButton>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header"><h:outputText value="Disapprove" /></f:facet>
                                            <h:commandButton type="submit" value="Deny" action="#{appService.denyUser(users)}"></h:commandButton>
                                        </h:column>
                                    </h:dataTable>
                                </h:form>
                                <h:panelGroup rendered="#{empty appService.findUnauthUsers()}">
                                    <p>Great! Nothing to Authorize :)</p>
                                </h:panelGroup>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade pl-3" id="report" role="tabpanel" aria-labelledby="nav-profile-tab">Under construction!</div>

                </div>

            </div>
            <div class="row">


                <div class="col-sm-3"></div>

                <div class="col-sm-3"></div>


            </div>
        </div>
        <footer class="container-fluid bg-dark mt-2 d-flex justify-content-center">
            <div class="text-muted p-4">2018, All rights reserved, Made with Love by Thinkpool</div>

        </footer>
    </h:body>
    <h:outputScript library="js" name="jquery-3.3.1.slim.min.js" />
    <h:outputScript library="js" name="bootstrap.min.js" />
</html>